<div class="row">
    <div style="margin-left: 15px;" class="col-lg-12">
        <h1 class="">agenda</h1>
    </div>
    <div class="col-lg-9 col-md-11 painel">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-append-content">
                <li class="active"><a href="#tab4">Popular</a></li>
                <li class=""><a href="#tab5">Newest</a></li>
                <li class=""><a href="#tab6">Bestselling</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dropdown
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#tab5">Newest</a></li>
                        <li><a href="#tab6">Bestselling</a></li>
                    </ul>
                </li>
            </ul> <!-- /tabs -->
            <div class="tab-content">
                <div class="tab-pane active" id="tab4">
                    <p>I'm in Section 1.</p>
                </div>
                <div class="tab-pane" id="tab5">
                    <p>Howdy, I'm in Section 2.</p>
                </div>
                <div class="tab-pane" id="tab6">
                    <p>Howdy, I'm in Section 3.</p>
                </div>
            </div> <!-- /tab-content -->
        </div>
    </div>
</div>