<div class="row">
    <div style="margin-left: 15px;" class="col-lg-12">
        <h1 class="">alunos</h1>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="card">
            dfsdfsdf
        </div>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="card">
            dfsdfsdf
        </div>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="card">
            dfsdfsdf
        </div>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="card">
            dfsdfsdf
        </div>
    </div>

    
    

</div>

