<div class="row">
    <div class="col-lg-10">
        <div style="margin-top: 30px;" class="painel">
            <div class="painel-header-left">
                <p>Alunos</p>
            </div>
            <div class="painel-header">
                <a href="#"><img src="/Pollock/images/icons/user-40.svg"> </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-11 col-lg-7">
        <div class="painel">
            <div class="painel-header-left">
                <a href="#"><img src="/Pollock/images/icons/back.svg"> </a>
            </div>
            <div class="painel-header">
                <p>Novo Aluno</p>
            </div>
            <div class="painel-content">
                <div class="row">
                    <div class="col-lg-12"
                         <form class="form-horizontal">
                            <div class="form-group">
                                <label for="nome">Nome aluno:</label>
                                <input id="nome" name="nome" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

